/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}  */

nav {
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #333; 
    padding: 10px 20px; 
    box-sizing: border-box; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    
}

nav ul li {
    margin: 0 20px; 
    cursor: pointer;
}



